<a href="https://colab.research.google.com/github/ruedas91/FinTechruedas/blob/main/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Review the data types associated with the columns
#list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)
applicant_data_df.dtypes
#applicant_data_df = OneHotEncoder(sparse=False)

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [6]:
# Categorical Variables
applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'],
      dtype='object')

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [7]:
# Create a list of categorical variables 
#categorical_variables = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [9]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [10]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [11]:
numerical_variables_df = applicant_data_df.drop(columns=categorical_variables)
numerical_variables_df

       STATUS   ASK_AMT  IS_SUCCESSFUL
0           1      5000              1
1           1    108590              1
2           1      5000              0
3           1      6692              1
4           1    142590              1
...       ...       ...            ...
34294       1      5000              0
34295       1      5000              0
34296       1      5000              0
34297       1      5000              1
34298       1  36500179              0

[34299 rows x 3 columns]

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [12]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [13]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [14]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X[:5]

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [15]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [16]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [17]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [18]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [19]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + 1)  // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [20]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1)  // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [21]:
# Create the Sequential model instance
nn = Sequential()

In [22]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [23]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [24]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [25]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [26]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5768 - accuracy: 0.7181
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5541 - accuracy: 0.7287
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7287
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7312
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7330
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7327
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7336
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7349
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7338
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7352
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7369
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5406 - accuracy: 0.7358
Epoch 13/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5400 - accuracy: 0.7354
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7365
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7359
Epoch 16/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5389 - accuracy: 0.7362
Epoch 17/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5391 - accuracy: 0.7367
Epoch 18/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5386 - accuracy: 0.7374
Epoch 19/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5382 - accuracy: 0.7362
Epoch 20/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5378 - accuracy: 0.7376
Epoch 21/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5372 - accuracy: 0.7374
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5369 - accuracy: 0.7380
Epoch 23/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5371 - accuracy: 0.7378
Epoch 24/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5363 - accuracy: 0.7383
Epoch 25/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5365 - accuracy: 0.7395
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7376
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5358 - accuracy: 0.7390
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5353 - accuracy: 0.7394
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7398
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7390
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7388
Epoch 32/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5348 - accuracy: 0.7388
Epoch 33/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7390
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7390
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7385
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7390
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7394
Epoch 38/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5334 - accuracy: 0.7396
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7405
Epoch 40/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5336 - accuracy: 0.7399
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7398
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7407
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7394
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7397
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7399
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7404
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7402
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7412
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7402
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7408

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [49]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5538 - accuracy: 0.7308 - 392ms/epoch - 1ms/step
Loss: 0.5537869334220886, Accuracy: 0.7308454513549805

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [29]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [30]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [31]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 5

In [32]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 2) // 3

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

39

In [33]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [34]:
# First hidden layer
nn_A1.add(Dense(
      units=hidden_nodes_layer1_A1,
      input_dim=number_input_features,
      activation="relu"
))


# Output layer
nn_A1.add(Dense(
      units=number_output_neurons_A1,
      activation= "linear"
))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 39)                4563

 dense_4 (Dense)             (None, 5)                 200

=================================================================
Total params: 4,763
Trainable params: 4,763
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [36]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 2.0041 - accuracy: 0.1657
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3752 - accuracy: 0.1588
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2481 - accuracy: 0.1460
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1668 - accuracy: 0.1939
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1284 - accuracy: 0.2184
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0193 - accuracy: 0.3017
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9978 - accuracy: 0.3237
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0550 - accuracy: 0.3816
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0221 - accuracy: 0.3549
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0158 - accuracy: 0.2049
Epoch 11/50
804/804 [==============================] - 3s 4ms/step - loss: 0.9567 - accuracy: 0.2177
Epoch 12/50
804/804 [==============================] - 4s 4ms/step - loss: 0.9053 - accuracy: 0.2452
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8780 - accuracy: 0.2318
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9218 - accuracy: 0.2240
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 0.8538 - accuracy: 0.1645
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8405 - accuracy: 0.1647
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8587 - accuracy: 0.1581
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8468 - accuracy: 0.2014
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.8287 - accuracy: 0.2533
Epoch 20/50
804/804 [==============================] - 4s 5ms/step - loss: 0.8161 - accuracy: 0.2208
Epoch 21/50
804/804 [==============================] - 4s 5ms/step - loss: 0.8261 - accuracy: 0.2156
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 0.8399 - accuracy: 0.2053
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 0.8384 - accuracy: 0.2446
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8349 - accuracy: 0.2293
Epoch 25/50
804/804 [==============================] - 3s 4ms/step - loss: 0.8047 - accuracy: 0.2441
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7685 - accuracy: 0.1555
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7655 - accuracy: 0.2094
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7982 - accuracy: 0.1870
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7772 - accuracy: 0.1585
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7514 - accuracy: 0.2219
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7487 - accuracy: 0.1982
Epoch 32/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7528 - accuracy: 0.1977
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7471 - accuracy: 0.1824
Epoch 34/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7409 - accuracy: 0.2289
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7523 - accuracy: 0.2152
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7369 - accuracy: 0.2362
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7299 - accuracy: 0.2707
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7350 - accuracy: 0.1726
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7198 - accuracy: 0.1850
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7186 - accuracy: 0.1373
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6897 - accuracy: 0.1347
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6743 - accuracy: 0.1822
Epoch 43/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6750 - accuracy: 0.1730
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6868 - accuracy: 0.1629
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6736 - accuracy: 0.1620
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6805 - accuracy: 0.1948
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6849 - accuracy: 0.1977
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6781 - accuracy: 0.1587
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6901 - accuracy: 0.1343
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6935 - accuracy: 0.2074

#### Alternative Model 2

In [37]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [40]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 9

In [41]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + 3) // 4


# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

29

In [42]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [43]:
# First hidden layer
nn_A2.add(Dense(
      units=hidden_nodes_layer1_A2,
      input_dim=number_input_features,
      activation="relu"
))


# Output layer
nn_A2.add(Dense(
      units=number_output_neurons_A2,
      activation= "linear"
))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 29)                3393

 dense_6 (Dense)             (None, 9)                 270

=================================================================
Total params: 3,663
Trainable params: 3,663
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [45]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 2.0800 - accuracy: 0.0996
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4038 - accuracy: 0.1230
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2926 - accuracy: 0.1514
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1927 - accuracy: 0.1329
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0564 - accuracy: 0.0676
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9944 - accuracy: 0.1002
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9638 - accuracy: 0.0727
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9480 - accuracy: 0.0543
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9628 - accuracy: 0.0760
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9205 - accuracy: 0.1205
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8899 - accuracy: 0.0858
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8735 - accuracy: 0.0814
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8505 - accuracy: 0.1285
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7874 - accuracy: 0.1376
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7591 - accuracy: 0.1501
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7291 - accuracy: 0.1915
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7250 - accuracy: 0.1941
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7188 - accuracy: 0.1287
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7076 - accuracy: 0.1361
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7035 - accuracy: 0.1359
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7062 - accuracy: 0.1847
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6776 - accuracy: 0.1822
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6808 - accuracy: 0.1930
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6680 - accuracy: 0.1455
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6807 - accuracy: 0.1141
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6743 - accuracy: 0.1409
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6691 - accuracy: 0.1056
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6531 - accuracy: 0.1285
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6499 - accuracy: 0.1147
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6562 - accuracy: 0.1318
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6549 - accuracy: 0.1291
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6503 - accuracy: 0.1046
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6390 - accuracy: 0.1060
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6376 - accuracy: 0.0756
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6302 - accuracy: 0.0687
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6362 - accuracy: 0.0774
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6341 - accuracy: 0.0542
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6295 - accuracy: 0.0422
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6318 - accuracy: 0.0739
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6231 - accuracy: 0.0503
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6248 - accuracy: 0.0625
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6224 - accuracy: 0.0920
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6251 - accuracy: 0.0616
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6382 - accuracy: 0.1126
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6215 - accuracy: 0.0495
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6151 - accuracy: 0.0778
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6164 - accuracy: 0.0727
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6108 - accuracy: 0.0864
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6079 - accuracy: 0.1214
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6103 - accuracy: 0.0812

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [51]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5538 - accuracy: 0.7308 - 428ms/epoch - 2ms/step
Loss: 0.5537869334220886, Accuracy: 0.7308454513549805

In [52]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.7065 - accuracy: 0.1353 - 427ms/epoch - 2ms/step
Loss: 0.7065047025680542, Accuracy: 0.13527697324752808

In [53]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.6045 - accuracy: 0.0276 - 686ms/epoch - 3ms/step
Loss: 0.6044564247131348, Accuracy: 0.02763848379254341

### Step 3: Save each of your alternative models as an HDF5 file.

In [54]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1"

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [55]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2"

# Export your model to a HDF5 file
nn_A2.save(file_path)